/*CSS document*/


div.container {
max-width: 85em;
}

article{
    border-top: 0.25em solid #0B3948;
}


body {
    font-family: superblue, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1.5em; */
    color: #0B3948;
}

figcaption{
    font-family: superblue, sans-serif;
    font-style: italic;
    font-size:small;
}

h2,h3{
    font-family: dogma-bold, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05rem;
    color:#0B3948
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color:#ffffff;
    padding: 0;
    border-style: solid;
    border-width: 0.25em;
    border-color: #4A7C59;
    width: 100%;
  }
  
 nav ul li {
    display: inline;
    float: left;
  }
  
nav ul li a {
    display: block;
    color:#4A7C59;
    text-align: center;
    padding: 0.5em 0.5em;
    text-decoration: none;
  }

nav ul{
    list-style-type: none;
}

nav a {
    display: block;
    color:#0B3948;
}

nav a:hover,select {
    background-color:#4A7C59;
    color:#ffffff;
}

div.container {
    max-width: 100em;
    margin: 0 auto;
    padding: 1em 1em 0em 1em;
}

figure {
    padding-top: 1em;
    margin: 0;
}

section.mainstory figure {
    padding-top:1em;
}

h1 img {
    width: 8em; 
}

img {
    width: 100%; 
}



h1.gal,form{
 color:#0B3948;
 margin: 0;
 padding: 0;
}


a{
text-decoration: none;
color:#0B3948;
}

a:hover{
    color:#4A7C59;
}

section.secondary, section.tertiary, section.mainstory {
    padding-top: 0.25em;
    border-top: 0.25em solid #0B3948;
        }

/* ////Style added for Photo Gallery/////*/

div.galcontainer {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em 1em 0em 1em;
}

main.gal {
    max-width: 60em;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(73% + 3em);
}

main.gal figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: left 1s;
}
main.gal figcaption {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
    color: #0B3948;
}
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.gal {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.2em;
}

 div.galcontainer input {
    display: none;
}

/* /////////Style for Newsletter form //////// */


    button{
        max-width: 10em;
    }

    form ul {
        padding: 1em;
    }

    form ul li {
        list-style-type: none;
    }

    form{
        border-top: solid;
        border-color: #0B3948;
        border-width:0.25em;
        padding: 0.25em;
        line-height: 2em;
    }

    figure.newsletter{
        margin: 0 auto;
        border-top: solid;
        border-color: #0B3948;
        border-width:0.25em;
    }

    
    form ul li input[type="text"] {
        box-sizing: border-box;
      }


@media screen and (prefers-color-scheme: dark) {

    section.secondary, section.tertiary, section.mainstory {
        border-color:#68b0ab;
    }
    body{
        background-color: #0B3948;
    }
   main.gal figcaption{
        color: #68b0ab;
   }
    a{
        color: #ffffff;
    }

    a:hover{
        color:#68b0ab;
    }
   
    nav ul {
        background-color: #0B3948;
        border-color: #c2e812;
      }

      nav ul li a {
        color:#68b0ab; 
      }

      nav a:hover,select {
        background-color:#c2e812;
        color:#68b0ab;
    }
   
    h1 {  
        color: #68b0ab;
        background-image: url("images/grc339logoalt.png");  
        background-repeat: no-repeat;  
        background-size: contain;  
        } 

    h1 img {  
        opacity: 0;  
    }  

    h2{
        color:#68b0ab
    }

    h3{
        color:#c2e812;
    }

    form, figure.newsletter{
        border-color: #68b0ab;
        color: #ffffff;
    }

    article{
        color: #ffffff;
        border-color: #68b0ab;
    }

    footer{
        color: #ffffff;
    }
    }


@media screen and (min-width: 60em){

    div.newsletter{
        width: 100%;
        margin: 0em 10em;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
        grid-gap: 2em; 
    }

    div.newsletter form, figure{
        width: 100%;
    }

    section.secondary figure img{
        object-fit: cover;
    }

    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 0.5em;
    }

    header{
        grid-column: 1/3;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0 0.5em;
    }

    aside.mainstory{
        grid-column: 2/3;
    }

    aside{
        grid-column: 2/4;
    }
    
    section.mainstory{
        grid-column:2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        padding: 1em;
        }

    section.aside{
        border-style:solid;
        border-color:#0B3948;
        border-width:5px;
    }

    section.mainstory a {
        flex: 1 0 10em;
        /* grow but not shrink start with 10em */
        display:flex;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 10em;
    }

    section.mainstory a h3{
        flex: 0 0 auto;
        margin:0;
    }

    section.mainstory a p {
        flex: 0 0 auto;
    }

    section.mainstory a figure img{
        height: 95%;
        object-fit: cover;
    }

}    

 



